<div fxLayout ="row" fxLayoutAlign="space-around center">
  <div fxFlex="20">
    <mat-radio-groupc [(ngModel)]="option" fxLayout="column" fxLayoutAlign="center start">
      <mat-radio-button value="error-handling">Erro Handling</mat-radio-button>
      
    </mat-radio-groupc>


  </div>
  <div fxFlex="70" fxLayout="column" fxLayoutAlign="center start">
    <ng-container [ngSwitch]="option">

      <app-error-handling *ngSwitchCase="'error-handling'" >Error Handling</app-error-handling> 
    </ng-container>
  </div>
</div>